# ⛔ Archivos/carpeta que no se necesitan en la imagen
target/
*.log
*.tmp
*.bak
*.env

# IDE y configuración local
.git
.gitignore
.idea
.vscode
.DS_Store
*.iml

# ⛳ Permitimos estos para el build
!src/
!pom.xml
